In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('IIM_database.csv')

In [12]:
emotions = []
for x in df['filename']:
    emotions.append(x[-7:-4])

df['emotions'] = emotions

In [13]:
df

,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,AU09_r,AU10_r,AU12_r,AU14_r,AU15_r,AU17_r,AU20_r,AU23_r,AU25_r,AU26_r,AU45_r,filename,emotions
0,0.42,0.26,0.57,0.46,0.60,0.46,0.63,0.39,0.46,0.44,0.64,0.64,0.56,0.41,0.40,0.25,0.35,DST_114_M_NUT.csv,NUT
1,0.88,0.99,0.31,0.98,0.56,0.12,0.28,0.63,0.75,0.80,0.73,0.94,0.89,0.66,0.89,0.67,0.21,DST_048_M_FER.csv,FER
2,0.88,0.82,0.69,0.45,0.51,0.24,0.30,0.40,0.59,0.57,0.58,0.67,0.55,0.47,0.51,0.46,0.62,DST_015_M_NUT.csv,NUT
3,0.83,0.96,0.32,0.98,0.31,0.48,0.33,0.40,0.44,0.11,0.50,0.54,0.37,0.45,0.62,0.82,0.47,DST_177_F_SUR.csv,SUR
4,0.75,0.53,0.88,0.43,0.61,0.71,0.48,0.50,0.57,0.61,0.78,0.92,0.67,0.67,0.36,0.43,0.31,DST_118_M_ANG.csv,ANG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0.62,0.48,0.73,0.92,0.56,0.66,0.66,0.46,0.41,0.56,0.67,0.93,0.67,0.81,0.13,0.36,0.17,DST_145_F_ANG.csv,ANG
696,0.76,0.63,0.74,0.91,0.61,0.49,0.42,0.42,0.53,0.47,0.70,0.95,0.58,0.79,0.15,0.66,0.19,DST_040_F_ANG.csv,ANG
697,0.60,0.58,0.67,0.53,0.81,0.99,0.93,0.54,0.44,0.22,0.40,0.84,0.26,0.68,0.37,0.39,0.69,DST_185_F_DIS.csv,DIS
698,0.63,0.38,0.40,0.76,0.79,0.77,0.28,0.74,0.91,0.90,0.48,0.55,0.83,0.72,0.57,0.27,0.29,DST_170_F_HPY.csv,HPY
699,0.71,0.46,0.41,0.55,0.86,0.63,0.58,0.80,0.95,0.93,0.42,0.68,0.75,0.53,0.57,0.30,0.53,DST_004_F_HPY.csv,HPY

In [25]:
emotion_lst = df['emotions'].unique()

for emotion in emotion_lst:
    df[emotion] = [0 for i in range(df.shape[0])]
df['RESULT'] = ['NA' for i in range(df.shape[0])]

In [26]:
df

,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,AU09_r,AU10_r,AU12_r,AU14_r,...,filename,emotions,NUT,FER,SUR,ANG,DIS,SAD,HPY,RESULT
0,0.42,0.26,0.57,0.46,0.60,0.46,0.63,0.39,0.46,0.44,...,DST_114_M_NUT.csv,NUT,0,0,0,0,0,0,0,NA
1,0.88,0.99,0.31,0.98,0.56,0.12,0.28,0.63,0.75,0.80,...,DST_048_M_FER.csv,FER,0,0,0,0,0,0,0,NA
2,0.88,0.82,0.69,0.45,0.51,0.24,0.30,0.40,0.59,0.57,...,DST_015_M_NUT.csv,NUT,0,0,0,0,0,0,0,NA
3,0.83,0.96,0.32,0.98,0.31,0.48,0.33,0.40,0.44,0.11,...,DST_177_F_SUR.csv,SUR,0,0,0,0,0,0,0,NA
4,0.75,0.53,0.88,0.43,0.61,0.71,0.48,0.50,0.57,0.61,...,DST_118_M_ANG.csv,ANG,0,0,0,0,0,0,0,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0.62,0.48,0.73,0.92,0.56,0.66,0.66,0.46,0.41,0.56,...,DST_145_F_ANG.csv,ANG,0,0,0,0,0,0,0,NA
696,0.76,0.63,0.74,0.91,0.61,0.49,0.42,0.42,0.53,0.47,...,DST_040_F_ANG.csv,ANG,0,0,0,0,0,0,0,NA
697,0.60,0.58,0.67,0.53,0.81,0.99,0.93,0.54,0.44,0.22,...,DST_185_F_DIS.csv,DIS,0,0,0,0,0,0,0,NA
698,0.63,0.38,0.40,0.76,0.79,0.77,0.28,0.74,0.91,0.90,...,DST_170_F_HPY.csv,HPY,0,0,0,0,0,0,0,NA
699,0.71,0.46,0.41,0.55,0.86,0.63,0.58,0.80,0.95,0.93,...,DST_004_F_HPY.csv,HPY,0,0,0,0,0,0,0,NA

In [56]:
# mapping actions units with their respective index in pandas dataframe

facs_to_index = {
    'AU01_r' :0,
    'AU02_r' :1,
    'AU04_r' :2,
    'AU05_r' :3,
    'AU06_r' :4,
    'AU07_r' :5,
    'AU09_r' :6,
    'AU010_r' :7,
    'AU012_r' :8,
    'AU014_r' :9,
    'AU015_r' :10,
    'AU017_r' :11,
    'AU020_r' :12,
    'AU023_r' :13,
    'AU025_r' :14,
    'AU026_r' :15,
    'AU045_r' :16,
    'filename':17,
    'emotions':18,
    'NUT':19,
    'FER':20,
    'SUR':21,
    'ANG':22,
    'DIS':23,
    'SAD':24,
    'HPY':25,
    'RESULT':26
}

thresold = 0.8

result = []

for index in range(df.shape[0]):

    # We are using AU description as provided in radboud paper

    #This is for angry
    if df.iloc[index,facs_to_index['AU04_r']] >= thresold and df.iloc[index,facs_to_index['AU05_r']] >= thresold and df.iloc[index,facs_to_index['AU023_r']] >= thresold and df.iloc[index,facs_to_index['AU017_r']] >= thresold and df.iloc[index,facs_to_index['AU07_r']] >= thresold:
        df.iloc[index,facs_to_index['ANG']] = 1 
        if df.iloc[index,facs_to_index['emotions']] == 'ANG':
            df.iloc[index,facs_to_index['RESULT']] = 'T'
            
        else:
            df.iloc[index,facs_to_index['RESULT']] = 'F'

    # This is for Disgusted
    if df.iloc[index,facs_to_index['AU09_r']] >= thresold and df.iloc[index,facs_to_index['AU025_r']] >= thresold and df.iloc[index,facs_to_index['AU010_r']] >= thresold:
        df.iloc[index,facs_to_index['DIS']] = 1 
        if df.iloc[index,facs_to_index['emotions']] == 'DIS' and df.iloc[index,facs_to_index['RESULT']]=='NA' :
            df.iloc[index,facs_to_index['RESULT']] = 'T'
            
        else:
            df.iloc[index,facs_to_index['RESULT']] = 'F'

    # This is for fearful
    if df.iloc[index,facs_to_index['AU04_r']] >= thresold and df.iloc[index,facs_to_index['AU01_r']] >= thresold and df.iloc[index,facs_to_index['AU02_r']] >= thresold and df.iloc[index,facs_to_index['AU05_r']] >= thresold and df.iloc[index,facs_to_index['AU025_r']] >= thresold and df.iloc[index,facs_to_index['AU020_r']] >= thresold:
        df.iloc[index,facs_to_index['FER']] = 1
        if df.iloc[index,facs_to_index['emotions']] == 'FER' and df.iloc[index,facs_to_index['RESULT']]=='NA':
            df.iloc[index,facs_to_index['RESULT']] = 'T'
            
        else:
            df.iloc[index,facs_to_index['RESULT']] = 'F'

    # This is for Happy
    if df.iloc[index,facs_to_index['AU06_r']] >= thresold and df.iloc[index,facs_to_index['AU012_r']] >= thresold and df.iloc[index,facs_to_index['AU025_r']] >= thresold:
        df.iloc[index,facs_to_index['HPY']] = 1
        if df.iloc[index,facs_to_index['emotions']] == 'HPY' and df.iloc[index,facs_to_index['RESULT']]=='NA':
            df.iloc[index,facs_to_index['RESULT']] = 'T'
            
        else:
            df.iloc[index,facs_to_index['RESULT']] = 'F'

    # This is for sad
    if df.iloc[index,facs_to_index['AU04_r']] >= thresold and df.iloc[index,facs_to_index['AU01_r']] >= thresold and df.iloc[index,facs_to_index['AU015_r']] >= thresold and df.iloc[index,facs_to_index['AU017_r']] >= thresold:
        df.iloc[index,facs_to_index['SAD']] = 1
        if df.iloc[index,facs_to_index['emotions']] == 'SAD' and df.iloc[index,facs_to_index['RESULT']]=='NA':
            df.iloc[index,facs_to_index['RESULT']] = 'T'
            
        else:
            df.iloc[index,facs_to_index['RESULT']] = 'F'
    # This is for surprised
    if df.iloc[index,facs_to_index['AU01_r']] >= thresold and df.iloc[index,facs_to_index['AU05_r']] >= thresold and df.iloc[index,facs_to_index['AU02_r']] >= thresold and df.iloc[index,facs_to_index['AU026_r']] >= thresold:
        df.iloc[index,facs_to_index['SUR']] = 1
        if df.iloc[index,facs_to_index['emotions']] == 'SUR' and df.iloc[index,facs_to_index['RESULT']]=='NA':
            df.iloc[index,facs_to_index['RESULT']] = 'T'
        else:
            df.iloc[index,facs_to_index['RESULT']] = 'F'

In [57]:
df['RESULT'].value_counts()

F     517
NA    149
T      34
Name: RESULT, dtype: int64